fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
aiofiles
aiosqlite
sqlalchemy
python-kasa
httpx
pydantic
pydantic-settings
python-socketio
redis
prometheus-client
pyotp
qrcode[pil]
slowapi
python-dotenv
reportlab
openpyxl
pandas
black==25.1.0
jinja2
aiosmtplib
psutil
schedule
cryptography
pytz
orjson
typing-extensions
influxdb-client[async]
py7zr
apscheduler
pytest
pytest-asyncio
pytest-cov
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability